@import '../../assets/styles/variables.scss';
@import '~bootstrap/dist/css/bootstrap.css';

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
  color: $white;
  background-color: $primary-color;
  border-color: $primary-color;
}

.jumbotron {
  background: transparent;
}

.slide-left-enter {
  -ms-transform: translate(100%, 0px); /* IE 9 */
  -webkit-transform: translate(100%, 0px); /* Safari */
  transform: translate(100%, 0px);
}

.slide-left-enter.slide-left-enter-active {
  -ms-transform: translate(0px, 0px); /* IE 9 */
  -webkit-transform: translate(0px, 0px); /* Safari */
  transform: translate(0px, 0px);
  transition: left 500ms ease;
}

.slide-left-exit {
  opacity: 1;
}

.slide-left-exit.slide-left-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}