@import '../../assets/styles/variables.scss';

.upload-image {
  cursor: pointer;
  width: 100% !important;

  label {
    width: 100% !important;
  }
}

.createGame {
  padding-top: 60px;

  label {
      font: normal 14px courier !important;
  }

  .btn-primary, .btn-primary:visited {
    background-color: $primary-color !important;
    border-style: none !important;
  }

  .btn-primary:hover, .btn-primary:active  {
    background-color: $black !important;
    border-style: none !important;
  }

  .btn-success {
    margin-right: 10px;
  }

  .bigContainer {
    width: 80%;
    margin-left: 10%;
    background-color: none;
  }

  .panel {
    margin-top: 30px;
    width: 100%;
    overflow: hidden;
    border-style: none;

    .panel-heading {
      background-image: none;
      background-color: $light-grey;
      color: $white;
      a {
        cursor: pointer;
        text-decoration: none;
      }

      a:hover {
        color: $primary-color;
      }

      h4 {
      }
    }
  }

  #formControlsTextarea {
    height: 100px;
    min-height: 100px;
    max-height: 120px;
    min-width: 100%;
    max-width: 100;
  }

  #title {
    color: $black;

    h1 {
      text-align: center;
      font-size: 50px;
    }
  }

  #addQuestions {
    position: absolute;
    down: -20%;
    right: 25%;
    background-color: $primary-color;
    border: 1.6px solid $primary-color;
    color: $white;
  }
}
