@import '../../assets/styles/variables.scss';

.switch {
  margin-bottom: -5px;
  margin-left: 10px;
  border-color: $white;

  &.on {
    background: $primary-color !important;
    border-color: $primary-color;
  }
}

.switch-toggle {
  border-color: transparent;
  box-shadow: none !important;
}

.page-match {
  width: 100%;
  background-color: $secondary-color;
  color: white;
  padding: 10px 170px;
  margin: 100px 0;
  float: left;

  h1 {
    margin-top: 30px;
  }
}

.game-name {
  text-transform: uppercase;
  color: $primary-color;
  margin: 0;
}

.description-container {
  margin: 30px 0;

  .game-description {
    text-transform: uppercase;
    color: $primary-color;
  }
}

.game-container {
  padding: 20px 0;
  float: left;

  h3 {
    display: inline-block;
  }
}

.button {
  height: 43px;

   &.right {
    float: right;
   }
}

@media(max-width: 426px) {
  .play-link {
    width: 100%;
    margin-top: 10px !important;
    margin-left: 0 !important;
  }
}

@media(max-width: 768px) {
  .page-match {
    margin: 0;
    padding: 40px 10px;
  }
}
