@import '../../assets/styles/variables.scss';

.table-responsive {
  .table {
    .current-player {
      background-color: $primary-color;
      font-weight: bold;
    }
  }
}

.margin-jumbotron {
  margin-top: 100px;
}

 .modal-container {
   position: relative;
 }
 .modal-container .modal, .modal-container .modal-backdrop {
   position: absolute;
 }
