@import '../../assets/styles/variables.scss';

.header {
  width: 100%;
  height: $header-height;
  z-index: 2;
  background: transparent;
  box-sizing: border-box;
  display: block;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  border-bottom: 1px solid $primary-color;

  .logo-img {
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 8px;
    left: -7px;

    img {
      height: 60px;
    }
  }

  .action-container {
    display: flex;
    cursor: pointer;
    position: absolute;
    top: 23px;
    right: 0;

    a {
      color: $primary-color;
      text-decoration: none;
      display: inline;
      margin-left: 15px;

      &:hover {
        color: lighter($primary-color);
      }
    }

    &:active {
      color: $primary-color;
    }
  }
}
