@import '../../assets/styles/variables.scss';

.navbar-default {
  margin-bottom: 0;
  border-bottom: none !important;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: transparent !important;

    &.top-nav-collapse {
      background: $black !important;
      border-bottom: 1px solid rgba(white, 0.3);
    }
  .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: white;

    &:focus,
    &:active {
      outline: none;
    }
  }

  .navbar-right {
    font-size: 18px;
  }

  .navbar-brand {
    font-weight: 700;

    .logo-img {
      height: 100%;
      display: inline-block;
      position: absolute;
      top: 6px;

      img {
        height: 60px;
      }
    }

    &:focus {
      outline: none;
    }
  }

  a {
    color: $white !important;
  }

  .nav {
    li {
      a {
        -webkit-transition: background .3s ease-in-out;
        -moz-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;

        &:hover {
          color: rgba(white, 0.8);
          outline: none;
          background-color: transparent;
        }

        &:focus,
        &:active {
          outline: none;
          background-color: transparent;
        }
      }

      &.active {
        outline: none;

        a {
          background-color: rgba(white, 0.3);

          &:hover {
            color: white;
          }
        }
      }
    }
  }

  @media(min-width:768px) {
    padding: 10px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;

  }
}
