@import '../../assets/styles/variables';

.linear {
  width: 100%;
  background-color: $background-grey;
  border-radius: 5px;
}

.linear-bar {
  width: 20%;
  height: 10px;
  border-radius: 5px;
  background-color: $primary-color;
  transition: width 0.5s ease 0s;
}
