.play-button {
  &:after {
    content: url(../../assets/images/play_button.png);
  }

  &:hover {
    content: url(../../assets/images/play_button_fill.png);
    cursor: pointer;
  }
}

.match-image {
  height: 80px;
  width: 80px;
}

@media(max-width:768px) {
  .match-image {
    display: none;
  }

  td {
    font-size: 13px !important;
  }

  .play_button {
    height: 50px !important;
  }
}
