@import '../../assets/styles/variables.scss';

.flex-container {
  display: flex;
}

.answers-container {
  display: flex;
  flex-direction: column;
}

.question {
  .form-container {
    height: 100% !important;
  }
}

#addQuestion {  
  text-align: center;
  cursor: pointer;
  h3 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
    color: $black;
  }
}

#addQuestionDisabled {
  opacity:0.7;  
  text-align: center;
  cursor: not-allowed;
  h3 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
    color: $black;
  }
}

#addQuestion:hover {
  cursor: pointer;
  background-color: $black;
  color: $primary-color;
  h3 {
    font-size: 25px;
    color: $primary-color;
  }
}


#questionSquare {
  position: relative;

  #Easy {
    background-color: $question-easy;
    h3 {
      color: $black;
      font-weight: bold
    }
  }

  #Medium {
    background-color: $question-medium;
    h3 {
      color: $black;
    }
  }

  #Hard {
    background-color: $question-hard;
    h3 {
      color: $black;
    }
  }

  #bg-vertical-dropdown {
    position: relative;
    margin-left: 560%;
  }

  #bg-vertical-dropdown:hover {
    .caret {
      color: $primary-color;
    }
  }

  a:hover {
    color: $primary-color;
  }
}

#arAnswer:hover {
  cursor: pointer;
  color: $primary-color;
}

#savedelete:hover {
  background-color: $primary-color;
  color: white;
  border-color: $primary-color;
}
