@import '../../assets/styles/variables.scss';

.flex-container {
  display: flex;
}

.answers-container {
  display: flex;
  flex-direction: column;
}

.question {
  .form-container {
    height: 100% !important;
  }
}

#addQuestion {
  cursor: pointer;
  h3 {
    font-size: 60px;
    color: $black;
  }
}

#addQuestion:hover {
  cursor: pointer;
  background-color: $black;
  color: $primary-color;
  h3 {
    font-size: 60px;
    color: $primary-color;
  }
}


#questionSquare {
  position: relative;

  #Easy {
    background-color: darkgreen;
    h3 {
      color: $white;
    }
  }

  #Medium {
    background-color: orange;
    h3 {
      color: $white;
    }
  }

  #Hard {
    background-color: maroon;
    h3 {
      color: $white;
    }
  }

  #bg-vertical-dropdown {
    position: relative;
    margin-left: 560%;
  }

  #bg-vertical-dropdown:hover {
    .caret {
      color: $primary-color;
    }
  }

  a:hover {
    color: $primary-color;
  }
}

#arAnswer:hover {
  cursor: pointer;
  color: $primary-color;
}

#savedelete:hover {
  background-color: $primary-color;
  color: white;
  border-color: $primary-color;
}
