@import '../../assets/styles/variables.scss';

hr.divider { 
  margin: 0px;
  border-width: 2px;
} 

.icon {
  #arAnswer:hover {
    cursor: pointer;
    color: $primary-color;
  }  
}

.hint {  
  margin-top: 20px;
  text-align: center;  

  h4 {
    font-size: 15px;
  }  
}
