@import '../../assets/styles/variables.scss';

.game-container {
  padding: 100px 170px;
  width: 100%;

  .game-title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    img {
      margin-right: 30px;
      height: 100px;
    }
  }

  .share {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    margin-left: 1px;
  }

  @media(max-width: 768px) {
    padding: 100px 30px;

    img {
      display: none;
    }

    h1 {
      font-size: 30px;
    }
  }
}

.form-container .form-input label.fs-22 {
  width: 100% !important;
}
