@import '../../assets/styles/variables.scss';


.CircularProgressbar {
  width: 90%;
  transform: translateY(45%);
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: $primary-color;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: $background-grey;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: $primary-color;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.text-correct .CircularProgressbar-text {
  fill: $font-correct;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.text-wrong .CircularProgressbar-text {
  fill: $font-wrong;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.text-correct {
  color: $font-correct;
  text-anchor: middle;
}

.text-wrong {
  color: $font-wrong;
  text-anchor: middle;
}

.quizzy-text {
  color: $primary-color;
  text-anchor: middle;
}
