$primary-color: #ff8d40;
$secondary-color: #802743;
$terciary-color: #3498db;
$black: #3b413c;
$white: #fff;
$light-grey: #9c958f;
$success-color: #3e6990;
$error-color: #c8553d;
$warning-color: #a90000;
$border-grey: rgba(0, 0, 0, 0.1);
$hover-grey: rgba(0, 0, 0, 0.065);
$background-grey: #f2f4f5;
$background-grey-light: #f7f7f7;
$background-grey-dark: #e8e8e8;

$font-white: rgba(255,255,255, 1);
$font-black: #373a3c;
$font-black-light: #5b5d5f;
$font-grey: #b6bcc1;
$font-grey-dark: #9c9c9c;
$font-correct: #2ECC40;
$font-wrong: #A90000;
$fa-grey: #757575;

$header-height: 75px;

@function lighter($color) {
  @return hsl(hue($color), saturation($color) + 5, lightness($color) + 4)
}
